<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/855cfd52-2f2f-4a84-b698-8d8a995bd70f/resourceGroups/Cone-Connect-MSDN/providers/Microsoft.ContainerRegistry/registries/coneconnectcontainerregistry</ResourceId>
    <ResourceName>coneconnectcontainerregistry</ResourceName>
    <ResourceGroup>Cone-Connect-MSDN</ResourceGroup>
    <Subscription>Pay-As-You-Go (TMI Dev/Test)</Subscription>
    <RegistryUrl>https://coneconnectcontainerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d006bcef-deca-4aeb-bdef-8decc79053ef</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>